doctype html
html
    head
        title= "ørß1t$ - Generative art NFT project on Ethereum"
        meta(name="description" content="ørß1t$ - Generative art NFT project on Ethereum")
        meta(name="twitter:card" content="ørß1t$ - Generative art NFT project on Ethereum")
        meta(name="twitter:creator" content="@berkozdemir")
        meta(property="og:url" content="https://www.orbits.wtf")
        meta(property="og:description" content="ørß1t$ - Generative art NFT project on Ethereum")
        meta(property="og:image" content="https://berk.mypinata.cloud/ipfs/QmVAyByLRV7ema4QqsxDcnyehWM8xgdbfeyXTdDCg8VsEv")
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css', crossorigin='anonymous')
        script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/javascripts/p5.min.js')
        script(src='/javascripts/chroma.min.js')
        script(src='/javascripts/abi.js')
        script(src='/javascripts/app.js')

